/* ----                                         page */
.page {
margin: 0 auto;
width: 1400px;
/* background:red; */
font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
/* =============================================header */
header {
	text-align: center;
	height: 700px;
	background-image: url('../img/first-bg.png') ;
	color: #f6f6f5;
}
.header_content {
	display: flex;
	justify-content: center;
	padding-top: 30px;
}
/* ----                                         logo */
.logo_item {
	width: 78px;
	height: 28px;
	background-image: url('../img/logo2.png') ;
}
.logo_item:hover {
	box-shadow: 1px 1px 80px rgb(76, 76, 50);
}
/* ----                                         nav */
nav {
	width: 935px;
	display: flex;
	justify-content: space-between;
}
.nav_link {
	text-transform: uppercase;
	text-decoration: none;
	font-size: 14px;
	color: #d6d6d6;
}
.nav_link:not(:last-child){
	margin-right: 40px;
}
.nav_link:hover {
	text-decoration: underline;
	color: rgb(144, 230, 199);
	}
	/* ----                                         hero */
.hero {
	margin-top: 200px;
	}
.hero_title {
	font-size: 75px;
	text-transform: uppercase;
	font-weight: bold;
	}
.hero_text {
	font-size: 40px;
	text-transform: uppercase;
	font-weight: regular;
	}

/* ----                                         button.more */
.more {
	text-decoration: none;
	padding-top: 18px;
	text-transform: uppercase;
	font-weight: bold;
	margin-top: 50px;
	font-size: 18px;
	height: 65px;
	width: 240px;
	color: #484543;
	background-color: #fed136;
	border-radius: 5px;
}
.more:hover {
	background-color: #e5d085;
}
.more:active {
	background-color: #85bbe5;
	border: 2px solid rgb(221, 255, 0);
}


/* =============================================main */
.main {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
/* !#############################################   ОБЩАК */
.bloc_services , .bloc_portfolio , .bloc_about {
	width: 935px;
	text-align: center;
}
.services_title , .portfolio_title , .about_title {
	text-transform: uppercase;
	margin-top: 120px;
	font-size: 40px;
	font-weight: bold;
	color:#333;
}
.services_sub_title , .portfolio_sub_title , .about_sub_title {
	font-weight: regular;
	margin-top: 12px;
	font-size: 16px;
}
.services-body , .portfolio-body , .about-body {
	display: flex;
	flex-wrap: wrap;
	/* margin-top: 65px; */
	margin-top: 80px;
	margin-bottom: 120px;
	place-content: center center;
}
/* ----                                         cardcard */
.services-card , .portfolio-card , .about-card  {
	padding: 12px;
	padding: 0;
	/* margin-top: 15px; */
	width: 32%;
}
.services-box-img , .portfolio-box-img {
	display: flex;
	place-content: center center;
}
.services-body-title , .portfolio-body-title , .about-body-title {
	margin-top: 25px;
	font-size: 18px;
	font-weight: bold;
	color: #222222;
}
.services-body-text , .portfolio-body-text , .about-body-text {
	padding: 0 6px;
	margin-top: 12px;
	line-height: 180%;
	font-size: 14px;
	font-weight: regular;
	color: #777777;
	opacity: 0.7;
}
.services-a , .portfolio-a , .about-a {
	text-decoration: none;
}
.services-a:hover  , .portfolio-a:hover  , .about-a:hover {
	opacity: 0.7;
}



/* *#############################################   services */
/* ----                                         cardcard */
.services-card:not(:last-of-type) {
	margin-right: 1%;
}



/* *#############################################   portfolio */
.block_portfolio {
	width: 1400px;
	text-align: center;
	display: flex;
	justify-content: center;
	background-color: #f7f7f7;
}
.portfolio-body {
	justify-content: space-between;
}



/* *#############################################   about */
.about-card {
	width: 100%;
}
.about-card:not(:first-child) {
	margin-top: 100px;
}
.about-card-body {
	display: flex;
	flex-wrap: wrap;
}
#start {
	flex-direction: row-reverse;
}
#end {
	flex-direction: row;
}
#end > .about-box-img {
	width: 66%;
	display: flex;
	justify-content: end;
	padding: 0 58px;
}
#start > .about-box-img {
	width: 66%;
	display: flex;
	justify-content: start;
	padding: 0 58px;
}
.about-body-img > img {
	height: 183px;
	border-radius: 50%;
	overflow: hidden;
}
.about-box-text {
	margin-top: -20px;
	width: 34%;
	text-align: start;
}
#start > .about-box-text {
	text-align: end;
}
.about-body-title {
	line-height: 160%;
	line-height: 22px;
}
.date {
	text-transform: uppercase;
	display: block;
}
.about-body-text {
	line-height: 23px;
}
/* =============================================footer */
footer {
	font-weight: regular;
	line-height: 22px;
	font-size: 14px;
	text-align: center;
	margin-bottom: 100px;
}











/* ----header */










/* ----main */
.plans{
/* width: 1080px; */
}
.defaultCard{
/* margin-top: 15px; */
/* margin-bottom: 50px; */
/* margin-right: 50px; */
/* width: 300px; */
/* color:red; */
/* border-top:  1px solid rgba(0, 221, 255, 0.374); */
/* border-left:  1px solid rgba(0, 221, 255, 0.374); */
/* border-right: 1px solid rgb(229, 255, 0); */
/* border-bottom: 1px solid rgb(229, 255, 0); */
/* box-shadow: 1px -1px 1px rgba(255, 221, 0, 0.233); */
}
.defaultCard:hover{
/* margin-top: 12px; */
/* margin-right: 45px; */
/* margin-left: -5px; */
/* width: 310px; */
/* box-shadow: 1px 1px 80px rgba(0, 254, 157, 0.426); */
/* border-top: none; */
/* border-right: none; */
}
.dCard {
/* text-decoration-line: line-through; */
}
.cheader{
/* width: 100%; */
/* height: 65px; */
/* text-align: left; */

}
.card_image > .img {
/* width: 250px; */
/* width: 100%; */
/* background-image: url(/public/img/htmlmain.png); */
}
.cfooter{
/* margin-top: 50px; */
}






/* ----footer */










